.login-box .box-header {
	background-color: #00CCFF;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}
.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #00CCFF;
	cursor:pointer;
	outline: none;
}
body {
	background: url("../images/bg.jpeg") no-repeat center center fixed;
	background-size: cover;
	width: auto;
	height: auto;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 100px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}